body{
    height: 100vh;
    background: radial-gradient(white,rgb(186, 186, 186));

    .stylehomepage{
        background-color: #000000;
        height: 100vh;

        .headerstyle{
            background-color: red;
            height: 12%;
            h1{

              line-height: 60%;
              font-size: 40px;  
              
            }
            
        }
        .mainstyle{
            height: 50vh;
            background-color: #656464;
            font-size: 20px;
            

            .prestations01{
                margin-left: 5%;
            }
            .prestations02{
                margin-left: 5%;
            }

        }

        .footerstyle{

        }

        .buttonstyle{
            background-color: yellow;
        }

    }

}